node_modules
client/dist
client/node_modules
server/node_modules
server/dist
.agent

.env
server/.env
client/.env
server/service-account.json
server/fcm_store

# DB files (local/sqlite)
*.db
*.sqlite
*.sqlite3

# OS
.DS_Store